.sectionProjects {
    background-color: var(--primary-clr);
    color: #fff;
    margin-block-start: 2rem;
    padding-block: 1rem;    
}

.cardsContainer {
    display: grid;
    gap: 2rem;
    padding-inline: 1.5rem;
    padding-block: 4rem 2rem;
    justify-items: center;
    align-items: center;
    margin: auto;
}

h2 {
    margin: auto;
    font-size: 1.4rem;
    margin-block-start: 2rem;
    padding-block-end: .7rem;
    position: relative;
    width: fit-content;

    &::after {
        content: '';
        width: 50%;
        height: 2px;
        position: absolute;
        background-color: var(--secondary-clr);
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
    }
}

@media (width >= 768px) {
    .cardsContainer  {
        grid-template-columns: repeat(3, 1fr);
    }
}