body {
  background-color: #7d2ae8;
  color: #fff;
}

nav {
  background-color: #7d2ae8;
}

nav ul a {
  color: #fff;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

main {
  padding-block-start: 6rem;
  padding-block-end: 5.1rem;
  margin-inline: 1rem;
}

main p {
  max-width: 1100px;
  margin-inline: auto;
  text-align: center;
}
