body {
  display: flex;
  flex-direction: column;
  font-size: 1.125rem;
  font-family: var(--ff-primary);
}

/* nav */
header a {
  color: var(--clr-neutral-drk);
}

.logo {
  width: 3rem;
}

nav {
  margin-block-end: 2rem;
  position: fixed;
  width: 100%;
  z-index: 999;
  scrollbar-gutter: stable;
}

nav > * {
  padding-block: 0.8rem;
}

ul {
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-start: auto;
  background-color: var(--clr-neutral-drk);
  color: var(--clr-neutral-lgt);
}

.footerLinks {
  padding-block: 3rem 2rem;
}

.footerLinks a:not(:last-child) {
  margin-inline-end: 5rem;
}

footer a {
  color: var(--clr-primary);
  position: relative;
}

footer a i {
  position: relative;
  z-index: 5;
  transition: 0.2s;
  font-size: 1.1rem;
}

footer a:hover::before,
footer a:hover::after {
  border-radius: 50%;
}

footer a::before {
  content: "";
  background-color: transparent;
  height: 45px;
  width: 45px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  background-color: var(--clr-neutral-lgt);
  position: absolute;
  border-radius: var(--br-btn);

  transition: 0.3s ease-in-out;
}

footer a::after {
  content: "";
  background-color: transparent;
  height: 55px;
  width: 55px;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%) rotate(45deg);
  border: 1px solid var(--clr-neutral-lgt);
  position: absolute;
  border-radius: var(--br-btn);

  transition: 0.3s ease-in-out;
}

.copyright {
  width: fit-content;
  margin-inline: auto;
  padding-block: 1rem;
  font-size: 0.9rem;
}
