.btn {
    padding: 0.7em 1.5em;
    display: inline-grid;
    place-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    transition: border-radius 0.3s ease-in-out;
}

.btn:hover {
    border-radius: 22px;
    transition-delay: 0.2s;
}

.btnContent {
    grid-area: 1 / 1;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 2;
    white-space: nowrap;
    transition:
        opacity 0.2s ease-in-out,
        transform 0.3s ease-in-out;
}

.btnDefault {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.15s;
}

.btnHover {
    transform: translateY(120%);
    opacity: 0;
    transition-delay: 0s;
}

.btn:hover .btnDefault {
    transform: translateY(120%);
    opacity: 0;
    transition-delay: 0s;
}

.btn:hover .btnHover {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 0.2s;
}

.btn::after {
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 1;
    transition: 0.3s ease-in-out;
}

.btn:hover::after {
    width: 100%;
    left: 0;
    right: auto;
}

.btnPrimary {
    background-color: var(--secondary-clr);
    border: 1px solid var(--secondary-clr);
}

.btnPrimary .btnDefault {
    color: #fff;
}

.btnPrimary .btnHover {
    color: var(--secondary-clr);
}

.btnPrimary::after {
    background-color: #fff;
}

.btnSecondary {
    border: 1px solid var(--secondary-clr);
    color: var(--secondary-clr);
}

.btnSecondary .btnDefault {
    color: var(--secondary-clr);
}

.btnSecondary .btnHover {
    color: #fff;
}

.btnSecondary::after {
    background-color: var(--secondary-clr);
}
